@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --margin01: 20px;
    --icon-width: 30px;
    --transition: 0.5s ease;
    --bgcolor01:#212121;
    --bgcolor02: #ffe7a6;
    --bgcolor03:#141414;
    --bgcolor01Opa:#212121e0;
    --txtcolor01:#ffba00;
    --txtcolor02:#ffe7a6;
    --txtcolor03:#ff7300;
    
    }

* {
    background-color: var(--bgcolor01);
    box-sizing: border-box;
    color: var(--txtcolor01);
}

body {
    font-family: "Monserrat", sans-serif;
    margin: 0;
}
.wrapper{
    min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.header{
    display: none;
    height: 50px;
  }
.footer{
    height: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60%;
    bottom: 1rem;
    right: 2rem;
    background-color: var(--bgcolor03);
    font-size: 0.8rem;
    padding: 1rem;
}
.content {
    display: flex;
    flex: 1;
    color: #000; 
}
.columns{
    display: flex;
    flex:1;
}
.main{
    display:flex;
    flex-flow: column;
    align-items: center;
    order: 2;
    max-width: 80%;
}
.sidebar-first{
    width: 20%;
    order: 1;
}
.sidebar-second{ 
    width: 20%;
    order: 3;
}
button{
    background-color: var(--bgcolor01);
    width: 80%;
}
p{
    display: block;
    text-align: justify;
    
    padding: 10px 50px 0px 50px;
}
div{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    background-color: inherit;
    
}


.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    text-align: center;
    
    


}
.video-content{
    max-width: 100%;
    height: auto;
    max-height: 100%;
}



.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20% 
}
.socialBtn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 30%;
    background-color: inherit;
}
.socialBtn{
    max-width: 50px;
    background-color: inherit;
}
.logoLink{
    width: 100%;
    height: 70%;
    background-color: inherit;
    
}

.homeBtn{
    width: 100%;
    height:100%;
    background-color: inherit;
    
}



.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.uiBtn-container{
    display: flex;
    justify-content: center;
}
.uiBtn{
    width: 40px;
    height: 40px
}

.asset-list-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    max-width: 70%;
    padding: 5px 30px 0 30px;
}
.asset-list{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    max-width: 90%;
    padding: 5px 30px 0 30px;
}
.search-box{
    background-color: var(--bgcolor02);
    color: var(--bgcolor03);
}
.asset-btn-container{
    padding-top: 20px;
}